@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

#particles-js {
  /* position: absolute !important;
  height: 100% !important; */
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.bg-image {
    background: url('img/bg_img.jpg') no-repeat center center;
    object-fit: cover;
    margin-top: 57px;
    height: 36vh;
}
.logo-pic{
  width: 45px;
}

.logoFont{
  font-family: 'Aclonica', sans-serif;
}

.fame-icon {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 23px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(255, 255, 255);
  background-color: rgb(52,58,64) !important;
}
.nav-tabs {
  border: 0px !important;
}
#quiz-tab, #info-tab, #profiles-tab {
  color: rgb(255, 255, 255);
}
#home-tab, #profile-tab, #messages-tab {
  color: rgb(52,58,64);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(255, 255, 255) !important;
}

.me{
  border: 5px solid rgba(248, 212, 5, 0.897) !important;
  border-radius: 10px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 43%;
  top: 20%;
 
  /* display: none; */
  /* z-index: 101; */
}
.globus {
  background: url('loader.gif') no-repeat center center;
  position: absolute;
  left: 43%;
  top: 20%;
  width: 120px;
  height: 120px;
}

.blur {
  filter: blur(3px);
}

.timer{
  color: white;
  background-color: rgb(24, 177, 24);
  padding: 9px;
  font-weight: bold;
  border-radius: 50%;
  font-size: 18px;
  animation: timer 90s infinite;
}
@keyframes timer {
  0% {background-color: rgb(24, 177, 24);}
  60% {background-color: rgb(255, 128, 0);}
  95% {background-color: rgb(255, 0, 0);}

}

.con-high {
  height: calc(100vh - 86px);
}

.mtPlay {
  margin-top: 30%;
}
.mtop {
  margin-top: 8%;
}

select {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
  background-position: right 10px top 12px;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 20px;
}

.loader1 {
  background: transparent;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    /* visibility: hidden; */
    display:none;
    z-index: 100;
}
.btnRefresh {
  position: absolute;
  top: 49%;
  left: 44%;
}

.cell-width-term {
  width: 20%;
}
.cell-width-points {
  width: 10%;
}
.cell-width-answer {
  width: 30%;
}

.letsPlay{
  font-family: 'Ribeye', cursive !important;
  font-size: 28px;
}
.btn-bg {
  background-color: #3498db !important;
}
.b-shaddow {
  box-shadow: 5px 10px 15px #343a40;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blockSubmit {
  pointer-events: none;}

@media (max-width: 992px) {
    .mobileMenu {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      position: fixed;
      top: 0px;
      bottom: 0;
      margin: auto;
      left: 0;
      -webkit-transition: all ease 0.25s;
      transition: all ease 0.25s;
    }
    .mobileMenu.open {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    .mobileMenu .navbar-nav {
      overflow-y: auto;
    }
    /* .nav-link:active {
        background-color: rgb(52,58,64) !important;
    } */
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    .overlay.open {
      display: block;
      z-index: 1029;
    }
    .navSmallScreen {
      width: 50%;
      top: 23px;
    }
    #profiles-tab {
      display: flex;
      flex-direction: column;
      word-break: break-all;
    }
    .navSmallScreenDir {
      flex-direction: column;
    }
    .gold-cup{
      width:50% !important;
      margin-top: 2em  !important;
    }
    .noWrap{
      flex-wrap: nowrap !important;
      text-align: center;
      justify-self: center;
      align-items: center;
    }
    .mtop {
      margin-top: 76px;
    }
    .form-group  {
      margin-bottom: 0.1rem !important;
    }
    .form-group label {
      margin-bottom: 0.1rem !important;
    }
    .card-title {
      margin-bottom: 0.1rem !important;
    }
    .card-header {
      padding: 0.3rem !important;
    }
    .card-body {
      padding: 0.3rem !important;
    }
    .btn {
      margin-top: 0.3rem;
    }
    #gameUserAvatar {
      width: 18px !important;
    }
    .timer {
      font-size: 15px !important;
      margin-right: 5px;
    }
    #startGameVsPlayer {
      margin-top:  0px !important;
      margin-bottom: 10px !important;
    }
    .navbar-toggler {
      margin-top: 6px !important;
    }
    .profile-sm{
      display: flex;
      flex-direction: row;
      align-items: center;
      place-content: space-evenly;
    }
    .profile-sm img {
      margin: 0 !important;
      width: 100px !important;
    }
    .profile-sm2{
      display: flex;
      flex-direction: column;
    }
    h5 {
      font-size: 1.1rem !important;
    }
    #formUpdateAvatar {
      /* width: 100%; */
      width: 108% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0px;
      margin-left: 0;
    }
    #formUpdateAvatar img {
      width: 65px !important;
    }
    .m-minus {
      margin-left: -10px;
    }
    .table td, .table th {
      padding-left: 0em !important;
      padding-right: 0em !important;
    }
    .table th {
      padding-right: 0.35em !important;
    }
    #gameContent {
      width: 105% !important;
    }
    .pl-sm {
      padding-left: 0px !important;
    }
  }
  
  @media (max-width: 375px) {
    
    .f-size {
      font-size: 1rem;
    }
    
    .gold-cup {
      margin-top: 0.1rem !important;
    }
    #formUpdateAvata{
      width: 115% !important;
      margin-left: -30px !important;
      margin-right: -30px !important;
    }
  }
